@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@font-face {
  font-family: "inglobal";
  src: url("../fonts/inglobal-Bold.woff2") format("woff2"),
    url("../fonts/inglobal-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
html,
body {
  margin: 0;
  font-size: 16px;
  background-color: #f6efb9;
}

* {
  box-sizing: border-box;
}
h2 {
  font-size: 5em;
  font-family: "inglobal", sans-serif;
  margin: 0 auto;
  width: auto;
  text-align: center;
}

/*main*/

p,
h1 {
  margin: 0;
}
.main {
  width: 100%;
  height: 100vh;
  background-image: url("../img/background-main.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.container {
  width: 90%;
  height: 100vh;
  position: relative;
  margin: 0 auto;
}
.display {
  display: none;
}
.menu {
  width: 30px;
  height: 40px;
  z-index: 999;
  position: absolute;
  right: 60px;
  top: 46px;
}
.menu hr {
  width: 30px;
  height: 2px;
  border-color: #000000;
  color: #000000;
}

.menu-active {
  width: 40px;
  height: 40px;
  z-index: 999;
  position: absolute;
  right: 50px;
  top: 50px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20vh;
  position: relative;
}
.header img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  top: 0;
  height: 90%;
}
.nav-left,
.nav-right {
  display: flex;
  justify-content: space-between;
  width: 500px;
}
.nav-left a,
.nav-right a {
  text-decoration: none;
}
.nav__link {
  font-size: 2em;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  color: #6c5333;
  padding-bottom: 20px;
}
.nav__link:hover {
  padding-bottom: 19px;
  border-bottom: 1px solid #6c5333;
}
.intro {
  height: 50vh;
  width: 100%;
  margin-top: 15vh;
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.wrapper-img img {
  height: 100%;
  width: 100%;
}
.wrapper-img {
  position: absolute;
  width: 1000px;
  height: 450px;
  right: 0;
  bottom: 0;
}

h1 {
  font-size: 4em;
  font-family: "inglobal", sans-serif;
  text-transform: uppercase;
  padding: 0.5em 0;
}
.describe {
  height: auto;
  align-items: center;
  width: 50%;
  padding: 0.5em 0;
}

.little-text,
.cities {
  font-size: 1.5rem;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  color: #6c5333;
}
.cities {
  font-size: 1rem;
  width: auto;
  height: auto;
}

.location {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
}

.btn {
  width: 325px;
  height: 98px;
  border-radius: 1em;
  border: none;
  color: #fff;
  background: linear-gradient(180deg, #ea9e09, #ffad10);
  font-size: 1.5em;
  font-weight: 600;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
}
.btn:hover {
  box-shadow: 0.1em 0.25em 0.4em rgba(153, 103, 0, 0.2);
}

/*main*/

/*about*/
.about h2 {
  margin-bottom: 6rem;
}

.about .container {
  display: flex;
  height: auto;
  margin-bottom: 6em;
  width: 80%;
}
.left-part {
  width: 55%;
  height: 737px;
  border: 1px solid #ffa800;
  border-radius: 3em;
  align-content: center;
}
.about-left {
  width: 662px;
  margin: 0 auto;
  margin-bottom: 3.25rem;
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Jost", sans-serif;
}
.about-left-main {
  width: 662px;
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Jost", sans-serif;
}
.right-part {
  height: 737px;
  width: 45%;
  margin-left: 2.25em;
}
.right-up {
  height: 303px;
  border-radius: 3em 3em 3em 0;
  border: 1px solid #ffa800;
  align-content: center;
  margin-bottom: 19px;
}
.right-up-p {
  width: 534px;
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Jost", sans-serif;
}
.right-down {
  height: 415px;
  border-radius: 0 3em 3em 3em;
  border: 1px solid #ffa800;
  align-content: center;
}
.right-down-p {
  width: 498px;
  margin: 0 auto;
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Jost", sans-serif;
}

/*about*/

/*why*/

.why .container {
  height: 1022px;
  width: 1352px;
  margin-bottom: 2em;
}
.why-content p {
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Jost", sans-serif;
  text-align: center;
  padding-bottom: 45px;
}
.why-content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 1318px;
  height: 800px;
  margin-top: 6em;
}
.why-up,
.why-down {
  display: flex;
  justify-content: space-between;
}

.why-block-3 {
  width: 340px;
}
.why-block-4 {
  width: 406px;
}
.why-block {
  width: 525px;
  height: 302px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  border-bottom: 2px solid #ffa800;
}
.why-block img {
  width: 90px;
  height: 90px;
}

/*why*/

/*products*/
#tabs-block {
  padding-top: 5%;
}
.item:hover {
  cursor: pointer;
}
#item-2-content,
#item-3-content {
  display: none;
}

.item.active {
  background: #ffa800;
}

.item {
  font-size: 1.5em;
  font-weight: 400;
  font-family: "Jost", sans-serif;
}

.tabs-content {
  padding: 4.5em 0;
}
#tabs {
  margin: auto;
  width: 70%;
  justify-content: space-between;
  display: flex;
}
.item {
  display: inline-block;
  padding: 1em;
  height: auto;
  width: auto;
  text-align: center;
  border-radius: 1em;
  border: 1px solid #ffa800;
}
.item-1-content {
  display: block;
}
.cards {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-auto-rows: 310px;
  justify-content: space-between;
}
.products .container {
  height: auto;
}
.card {
  width: 100%;
  height: 100%;
  display: flex;
  padding-bottom: 5em;
  padding-right: 3em;
}
.card-left {
  width: 50%;
  height: 100%;
}
.card-box {
  background-color: #ffa800;
  align-content: center;
  text-align: center;
  border-radius: 1em 0px 1em 1em;
  width: 100%;
  height: 100%;
}
.card-box img {
  width: 96%;
  height: auto;
}
.card-right {
  padding-left: 1em;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-name {
  font-weight: 600;
  font-family: "Jost", sans-serif;
  text-transform: uppercase;
  color: #6c5333;
  padding-bottom: 0.3em;
}
.weight-name {
  font-weight: 500;
  font-family: "Jost", sans-serif;
  color: #6c5333;
}
.weight-describe {
  font-weight: 400;
  font-family: "Jost", sans-serif;
  color: #ffa800;
}
.time-name {
  font-weight: 500;
  font-family: "Jost", sans-serif;
  color: #6c5333;
}
.time-describe {
  font-weight: 400;
  font-family: "Jost", sans-serif;
  color: #ffa800;
}
.count-name {
  font-weight: 500;
  font-family: "Jost", sans-serif;
  color: #6c5333;
}
.count-describe {
  font-weight: 400;
  font-family: "Jost", sans-serif;
  color: #ffa800;
}
.count {
  display: grid;
}

/*products*/

/*order*/

.order {
  background-image: url("../img/background-order.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 1101px;
  width: 100%;
}
h3 {
  font-size: 3em;
  font-family: "inglobal", sans-serif;
  margin: 0 auto;
  width: 986px;
  text-align: center;
  text-transform: uppercase;
}
.order-help {
  font-size: 1.5em;
  font-family: "jost", sans-serif;
  font-weight: 400;
  margin: 0 auto;
  width: 720px;
  display: block;
  margin-top: 1.5em;
  text-align: center;
}
.form .container {
  display: flex;
  justify-content: space-between;
  margin-top: 4em;
  height: auto;
}
.form-left {
  width: 769px;
  height: 442px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4em 0;
}
.input-up {
  height: 105px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 670px;
  margin: 0 auto;
}
.input-name {
  font-size: 1.5em;
  font-family: "jost", sans-serif;
  font-weight: 400;
  display: block;
}
#name,
#number,
#mail,
#sms {
  border: none;
  outline: none;
  background: none; /* убрать color*/
  border-bottom: 1px solid #ffa800;
  height: 60px;
  font-size: 1.5em;
  font-family: "jost", sans-serif;
  font-weight: 400;
}
.input-down {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 670px;
  margin: 0 auto;
}
.form-right {
  width: 769px;
  height: 442px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4em 0;
}
.order .btn {
  width: 325px;
  margin: 0 auto;
  margin-top: 2em;
  display: block;
}
.button-help {
  display: block;
  font-size: 1.5em;
  font-family: "jost", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.4);
  width: 285px;
  margin: 0 auto;
  margin-top: 1.5em;
  margin-bottom: 3em;
}

/*order*/

.menu-all {
  /* display: none; */
  position: absolute;
  background-color: #ffa800;
  width: 100%;
  height: 100vh;
  z-index: 99;
  align-content: center;
}
.menu-all-wrapper {
  margin-left: 80px;
  height: 60vh;
  align-content: center;
}
.menu-link-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 90%;
  font-size: 42px;
  font-family: "jost", sans-serif;
  font-weight: 600;
  width: 300px;
}
.menu-link {
  text-decoration: none;
  color: #000;
}
.about,
.why,
.products,
.order {
  opacity: 0;
}
.show {
  opacity: 1;
  transition: opacity 1s;
}
.intro,
.header,
.menu-burg,
.item-content,
.menu,
.menu-active,
.menu-all,
.about,
.why,
.products,
.order {
  opacity: 0;
  animation: main 2.5s forwards;
}
@keyframes main {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*media*/

@media screen and (max-width: 1700px) {
  .nav-left,
  .nav-right {
    width: 35%;
  }
  .wrapper-img {
    width: 800px;
    height: 400px;
  }
  .about {
    height: auto;
  }
  .about h2 {
    font-size: 4rem;
    margin-top: 2%;
    margin-bottom: 5%;
  }
  .about-left,
  .about-left-main {
    width: 80%;
  }
  .left-part {
    width: 55%;
    height: auto;
    padding: 2.5em 0;
  }
  .right-up-p,
  .right-down-p {
    width: 70%;
  }
  .right-part {
    width: 45%;
    height: 100%;
  }
  .right-up,
  .right-down {
    width: 100%;
  }
  .right-up {
    height: 40%;
    padding: 2.5em 0;
  }
  .right-down {
    height: 55%;
    padding: 2.5em 0;
  }
  .tabs-content {
    padding-bottom: 0;
  }
  .why .container {
    width: 90%;
    height: 800px;
  }
  h2 {
    font-size: 4rem;
  }
  .why-content {
    width: 100%;
    height: 70%;
    margin-top: 5%;
  }
  .why-block {
    width: 37%;
    height: 100%;
  }

  .why-down {
    margin-top: 5%;
  }
  .why-up {
    margin-top: 0px;
  }
  .why-content p {
    padding-bottom: 8%;
    padding-top: 4%;
  }
  .cards {
    grid-template-columns: 48% 48%;
    grid-auto-rows: 380px;
  }
  .card {
    padding-right: 0;
  }

  .order {
    height: auto;
  }
  .form {
    height: 40vh;
  }
  .form .container {
    width: 90%;
    margin-top: 5%;
    height: 100%;
  }
  .form-left,
  .form-right {
    width: 48%;
    height: auto;
  }
  .input-up,
  .input-down {
    width: 85%;
    height: 30%;
  }
  .input-up {
    margin-bottom: 10%;
  }
  #name,
  #number,
  #mail,
  #sms {
    height: 50%;
  }
  .order .btn {
    margin-top: 4%;
  }
}
@media screen and (max-width: 1400px) {
  .nav-left,
  .nav-right {
    width: 40%;
  }
  .wrapper-img {
    width: 650px;
    height: 300px;
  }
  .product-name,
  .weight-name,
  .weight-describe {
    font-size: 0.8em;
  }
  .cards {
    grid-auto-rows: 300px;
  }
  .card-left {
    width: 40%;
  }
  .card-right {
    width: 60%;
  }
}
@media screen and (max-width: 1200px) {
  .nav-left a,
  .nav-right a {
    font-size: 1.5em;
  }
  .nav-left,
  .nav-right {
    width: 35%;
  }
  h1 {
    font-size: 2.5em;
  }
  .little-text {
    font-size: 1em;
    width: 50%;
  }
  .describe {
    height: auto;
    width: 70%;
  }
  .intro .btn {
    font-size: 1em;
    width: 250px;
    height: 80px;
  }
  .wrapper-img {
    width: 590px;
    height: 300px;
  }
  .about h2,
  .why h2 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 13%;
  }
  .about .container {
    display: block;
  }
  .left-part {
    width: 100%;
    border-radius: 3em;
  }
  .about-left {
    margin-bottom: 2%;
  }
  .about-left,
  .about-left-main,
  .right-part p {
    font-size: 1em;
  }
  .right-part {
    width: 100%;
    margin: 0;
  }
  .right-up {
    margin-bottom: 0;
    margin: 7% 0;
    border-radius: 3em;
  }
  .right-down {
    border-radius: 3em;
  }
  .right-down-p,
  .right-up-p {
    width: 80%;
  }
  .why .container {
    height: auto;
  }
  .why-block img {
    width: 4em;
    height: 4em;
  }
  .why-block p {
    font-size: 1em;
    width: 351px;
  }
  .why-block {
    width: 351px;
    height: 183px;
  }
  .why-content {
    width: 80%;
    margin: auto;
    margin-top: 5%;
  }
  .item {
    font-size: 1em;
  }
  #tabs {
    width: 60%;
  }
  .count,
  .time {
    display: none;
  }
  .card-right {
    display: block;
  }
  .product-name {
    margin-bottom: 0.6em;
  }
  .cards {
    grid-auto-rows: 250px;
  }
  h3 {
    font-size: 2.3;
    width: auto;
  }
  .products h2 {
    font-size: 3em;
    width: auto;
    margin-top: 7%;
    margin-bottom: 3%;
  }
  .order-help,
  .input-name {
    font-size: 1em;
  }
  .order .btn {
    width: 250px;
    height: 80px;
    font-size: 1em;
  }
  .button-help {
    font-size: 1em;
    width: 190px;
    margin-bottom: 3%;
  }
}

@media screen and (max-width: 1030px) {
  .little-text {
    width: 400px;
  }

  .why-block img {
    width: 50px;
    height: 50px;
  }
  .wrapper-img {
    width: 400px;
    height: 200px;
  }
  .why-block p {
    width: 250px;
  }
  .why-block {
    height: auto;
    width: 250px;
  }
  .why-content {
    width: 75%;
  }
  .weight-describe,
  .weight-name {
    display: none;
  }
  .cards {
    grid-auto-rows: 230px;
  }
  h3 {
    font-size: 2em;
    width: 470px;
  }
  .form {
    height: auto;
  }
  .form .container {
    display: block;
  }
  .form-left,
  .form-right {
    width: 60%;
    margin: auto;
  }
  .form-left {
    border-radius: 1.5em 1.5em 0.7em 0.7em;
    padding: 3.75em 0 1.5em 0;
  }
  .form-right {
    border-radius: 0.7em 0.7em 1.5em 1.5em;
    padding: 1.5em 0 3.75em 0;
  }
  .button-help {
    margin-top: 0.7px;
  }
}
@media screen and (max-width: 900px) {
  .nav-left,
  .nav-right {
    width: 35%;
  }
}
@media screen and (max-width: 800px) {
  .main {
    background-image: url("../img/main-bg-phone.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .wrapper-img {
    display: none;
  }
  .container {
    width: 90%;
  }
  .menu {
    display: block;
  }
  .header {
    display: none;
  }
  h1 {
    font-size: 3em;
  }
  .intro {
    padding-top: 45%;
    margin: 0;
    height: 70vh;
  }

  .little-text {
    font-size: 1.5em;
  }
  .location p {
    font-size: 1.5em;
  }
  .describe {
    height: auto;
  }
  .intro .btn {
    font-size: 1.5em;
    width: 300px;
    height: 70px;
  }
  .about h2,
  .why h2,
  .products h2 {
    font-size: 2em;
  }
  .left-part p,
  .right-part p,
  .why-block p {
    font-size: 0.8em;
  }
  .why-up,
  .why-down {
    display: block;
  }
  .why-content {
    width: 70%;
    margin-top: 7%;
  }
  .why-block {
    margin-bottom: 3.1em;
    width: 100%;
  }
  .why-block p {
    width: 100%;
  }
  .why-up {
    width: 100%;
  }
  .cards {
    display: block;
  }
  .weight-describe,
  .weight-name,
  .count,
  .time {
    display: block;
  }
  .card-right {
    display: flex;
  }
  #tabs {
    width: 70%;
  }
  .tabs-content {
    padding: 0;
  }
  .card {
    padding-bottom: 2em;
    margin: 2.5em 0;
    height: 270px;
  }
  .item {
    font-size: 0.8em;
  }
  .order {
    background-image: url("../img/order-bg-phone.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .order h3 {
    font-size: 1.5em;
    width: auto;
  }
  .order-help {
    width: 90%;
  }
  .order .btn {
    font-size: 0.8em;
    width: 160px;
    height: 50px;
    border-radius: 0.7em;
  }
  .button-help {
    font-size: 0.7em;
    width: 133px;
  }
}
@media screen and (max-width: 670px) {
  .menu-burg hr {
    border: 2px solid #000000;
  }
  .item,
  .item.active {
    height: 50px;
    width: 100px;
  }
  h1 {
    font-size: 2em;
  }
  .little-text {
    font-size: 1em;
  }
  .location p {
    font-size: 1em;
  }
  .intro .btn {
    font-size: 1em;
    width: 230px;
    height: 60px;
  }
  .intro {
    padding-top: 60%;
    margin: 0;
    height: 70vh;
  }
  .card {
    height: 240px;
  }
}
@media screen and (max-width: 600px) {
  .count,
  .time {
    display: none;
  }
  .card-right {
    display: block;
  }
  .card {
    height: 210px;
  }
  #tabs {
    width: 90%;
  }
}
@media screen and (max-width: 490px) {
  .intro {
    padding-top: 70%;
    height: 60vh;
  }
  .about h2 {
    width: auto;
  }
  h1 {
    font-size: 1.5em;
  }
  .little-text {
    font-size: 0.7em;
  }
  .location p {
    font-size: 0.7em;
  }

  .order h3 {
    font-size: 1.5em;
  }
  .form-left,
  .form-right {
    width: 80%;
    padding: 1.8em 0;
  }
  .card {
    height: 180px;
  }
}
@media screen and (max-width: 440px) {
  .order h3 {
    font-size: 1.2em;
  }
  .order-help,
  .input-name {
    font-size: 0.8em;
    width: 60%;
    margin-top: 0.7em;
  }
  .card {
    height: 160px;
  }
}
@media screen and (max-width: 400px) {
  .intro {
    padding-top: 35vh;
  }

  .card {
    height: 150px;
  }
  .card-right {
    font-size: 0.7em;
  }
  .item,
  .item.active {
    font-size: 0.6em;
    height: 4em;
    width: 7.5em;
  }
  #tabs {
    width: 100%;
  }
}
@media screen and (max-width: 300px) {
  .little-text,
  .location p,
  .intro .btn {
    font-size: 0.5em;
  }
  .intro .btn {
    width: 120px;
    height: 40px;
  }
  h1 {
    font-size: 1.2em;
  }
  .card {
    height: 130px;
  }
}
@media screen and (max-width: 253px) {
  .describe p {
    font-size: 0.5em;
  }
  .about h2,
  .why h2 {
    font-size: 1.5em;
  }
  .order h3 {
    font-size: 0.7em;
  }
  #tabs {
    display: block;
    width: 100%;
  }
  .item,
  .item.active {
    width: 100%;
    margin: 0.7em 0;
  }
  .card {
    height: 110px;
  }
}

/*media*/
